.App {
  text-align: center;
}

.App-header {
  background-color: #4A77AE;
  padding: 20px;
  color: white;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4A77AE;
}

li {
    float: left;
}

li:last-child {
  float: right;
}

li h1 {
    color: white;
    text-align: center;
    padding: 13px 36px;
    text-decoration: none;
    margin: 0
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    text-decoration: underline;
}

li a.active {
  background-color: #FFF;
  color: #4A77AE;
}

.LogOutButton {
  cursor: pointer;
}

.App-loggedInContainer {

}

.App-body {
  font-size: large;
}

.holiday-lhs {
    border: 2px solid #9D9D9D;
    margin: 100px;
    height: 273px;
    width: 70%;
    padding-top: 20px;
}

.text-align-left{
  text-align: left;
}

.errorMessage {
  color: #d9534f;
}
